dash-core-components
dash-html-components
dash-renderer
dash-table
dash
flask-assets
flask
numpy
pandas
plotly
uwsgi
webassets
werkzeug
flake8
autopep8
pytest
pytest-cov
safety
python-dotenv
click<7.2.0,>=7.1.1
